.container {
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

.cards {
    &__item {
        perspective: 2000px;
        position: relative;
        height: 502px;
        width: 360px;

        &:hover .card__front {
            transform: rotateY(180deg);

        }

        &:hover .card__back {
            transform: rotateY(360deg);

        }
    }

    .card {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s;
        backface-visibility: hidden;

        &__back {
            transform: rotateY(180deg);


        }

    }
}

.wrapper {
    max-width: 1140px;
    margin: auto;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4vh;
        margin-top: 3vh;

        &__img {
            height: 10vh;

            img {
                width: auto;
                height: 100%;
            }
        }

        &__counter {
            span {
                color: var(--white);
                font-size: 40px;
                font-family: Inter;

                &:first-child {
                    font-weight: 700;
                }

                &:last-child {
                    font-size: 32px;
                }
            }
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-row-gap: 1.9vh;
    margin-bottom: 13.4vh;
}

.btm {
    max-width: 500px;
    margin: auto;

    .btn {
        margin: auto;
        opacity: .5;
        cursor: auto;
    }

    p {
        color: var(--white);
        font-size: 18px;
        text-align: center;
        line-height: 133%;
        margin-top: 1.95vh;
        margin-bottom: 5.07vh;
    }
}