.card {
    position: relative;
    background: var(--white);
    height: 502px;
    width: 360px;
    overflow: hidden;
    padding: 0px 8px 69px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >* {
        flex: 0 0 auto;
    }

    .card__photo {
        background-color: var(--card-bg);
        height: 215px;
        overflow: hidden;
        mask: url("images/mask.svg");
        -webkit-mask: url("images/mask.svg");

        img {
            width: 100%;
            height: auto;
            object-position: top center;

        }
    }

}

.info {
    padding: 0px 22px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    color: var(--dark-grey);

    &__title {
        display: flex;
        gap: 9px;
        align-items: center;

    }

    &__name {
        font-family: Cormorant Infant;
        font-size: 32px;
        font-weight: 700;
    }

    &__age {
        height: 30px;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--peach);
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        border-radius: 15px;
    }

    &__job {
        display: flex;
        flex-direction: column;
        font-family: Inter;
        font-size: 13px;
        font-weight: 500;
        line-height: 120%;

        span:nth-child(1) {
            font-weight: 600;
            color: var(--orange);
            font-size: 16px;
        }
    }

    &__text {
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }
}

.water {
    position: absolute;
    bottom: -218px;
    left: 0px;
}