.container {
    --heightContainer: calc(var(--vh, 1vh) * 100 - 5.5vw);
    width: 100vw;
    height: var(--heightContainer);

    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
}

.screen2 .ribbon {
    animation: ribbon 1.4s .6s alternate both ease-in-out;
}

.ribbon {
    z-index: -1;
    display: flex;
    gap: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25.4px);
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.26) 32.446%, rgba(255, 255, 255, 0) 51.579%, rgba(255, 255, 255, 0.2) 71.098%);
    position: absolute;
    top: 42%;
    transform: translateY(40%) translateX(70%) rotateZ(5deg) rotateY(10deg);

    span {
        color: var(--peach);
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: url("images/sceen2/present/1.svg");
            position: absolute;
            right: -37px;
            top: 0;
        }

        &:nth-child(4n + 2)::after {
            content: url("images/sceen2/present/2.svg");
            top: 2px;
        }

        &:nth-child(4n + 4)::after {
            content: url("images/sceen2/present/3.svg");
            top: 5px;
            right: -42px;
        }
    }
}

@keyframes ribbon {
    to {
        transform: translateY(-50%) rotateZ(5deg) rotateY(0deg);
    }

}

.line {
    position: absolute;
    top: calc(var(--topLine) - 213px);
    left: 0px;
    z-index: -2;
}

.card {
    height: calc(var(--heightContainer)/2);
    --translateY: max(calc(var(--topLine) - 213px - 161px), 20px);
    display: grid;
    grid-template-columns: minmax(650px, 40vw) auto;
    justify-items: start;
    grid-column-gap: 20px;

    &__item {
        position: relative;
    }

    .man {
        transform: scale(.7) rotate(-15deg) translateX(220px) translateY(var(--translateY));
        box-shadow: -30.58px 34.56px 5.32px 0px rgba(0, 0, 0, 0.5);
    }

    .bookImg {
        position: absolute;
        right: -240px;
        z-index: -1;
        top: 30px
    }

    .calcImg {
        position: absolute;
        left: 118px;
        z-index: -1;
        top: 284px;
    }

    .btnImg {
        position: absolute;
        right: -80px;
        z-index: 1;
        top: -10px;
    }



    &__text {
        transform: translateY(calc(var(--topLine) - 213px));
        color: red;
        color: var(--white);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        max-width: 665px;
    }

}





.screen2 .lamp {
    animation: lamp 1.3s .6s alternate both linear;
}

.lamp {
    position: absolute;
    top: 0px;
    // right: -15%;
    right: 0;
    // transform: translateX(7%) translateY(50%) rotate(0deg);
    transform: translateX(20%) translateY(-30%) rotate(10deg);
    transform-origin: center;
    z-index: -1;

    transform-origin: left bottom;
    height: calc(var(--vh, 1vh) * 100);
    z-index: -3;

    img {
        height: 100%;
        width: auto;
    }
}

@keyframes lamp {
    0% {
        transform: translateX(10%) translateY(-30%) rotate(0deg);
    }

    100% {
        transform: translateX(20%) translateY(-30%) rotate(10deg);
    }
}

@media (max-width: 790px) {
    .container {
        height: calc(var(--vh, 1vh) * 100 - 11vw);
    }

}

@media (min-width: 1000px) and (max-height:800px) {
    .card {
        --translateY: max(calc(var(--topLine) - 213px - 200px), 0px);
    }

    .card .man {
        transform: scale(.6) rotate(-15deg) translateX(280px) translateY(calc(var(--translateY) - 20px));
    }

    .presents__list {
        h2 {
            margin-bottom: 10px;
        }

        .list li {
            font-size: 16px;
            line-height: 150%;

            &:not(:last-child) {
                margin-bottom: 0px;
            }
        }

    }
}

@media (max-width: 1200px) {
    .line {
        display: none;
    }

    .card,
    .presents {
        grid-template-columns: 400px auto;
    }

    .presents {
        padding-left: 20px;
    }

    .card__item {
        transform: scale(.8) translateX(-120px);
    }
}



.waterTop {
    position: absolute;
    top: 0;
    right: 0;
    width: min(70%, 1000px);
    transform: scale(0);

    img {
        width: 100%;
        height: auto;
    }
}

.screen2 .waterTop {
    animation: waterTop .2s 2s forwards ease;
}

@keyframes waterTop {
    to {
        transform: scale(1);
    }

}


//------------------mobile----------
.mobile {
    .btn {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 4vh;
    }

    .ribbon {
        display: none;
    }

    .line {
        display: none;
    }

    .card {
        grid-template-columns: 1fr;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__item {
            transform: none;
        }

        .man {
            transform: scale(1) rotate(-15deg);
        }

        .bookImg {
            right: -140px;
        }

        .calcImg {
            left: -75px;
            z-index: -1;
            top: 380px;
        }


        &__text {
            transform: none;
            position: relative;
            z-index: 8;
            margin-top: 70px;
        }
    }

    .lamp {
        height: calc(var(--vh, 1vh)* 130);
        transform: translateX(16%) translateY(-33%) rotate(7deg);
        animation: none;
        // animation: none;
        // animation: lampMobile 2s .3s alternate both linear;
    }


}

.screen2.mobile .lamp {
    animation: lampMobile 1.1s alternate both linear;
}

@keyframes lampMobile {
    0% {
        transform: translateX(16%) translateY(-33%) rotate(0deg)
    }

    100% {
        transform: translateX(16%) translateY(-33%) rotate(7deg);
    }

}

@media (max-width: 570px) {
    .mobile {
        .card {
            top: 40%;
        }

        .card__item {
            transform: scale(.7)
        }

        .card__text {
            margin-top: -20px;
            font-size: 14px;
            max-width: 310px;
            line-height: 170%;
        }
    }

}

@media (max-height: 750px) {

    .mobile {
        .card {
            top: 40%;
        }

        .card__item {
            transform: scale(.6)
        }

        .card__text {
            margin-top: -70px;
        }

        .btn {
            bottom: 2vh;
        }
    }

}

.mobile {
    .waterTop {
        display: none;

    }

    .waterBtm {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        transform: translateX(19%) translateY(39%) scale(0);
        filter: contrast(200%) invert(100%) opacity(0.5);

        img {
            width: 100%;
            height: auto;
        }
    }



    .waterPresents {
        position: fixed;
        top: 50%;
        right: auto;
        left: 50%;
        transform: translateY(-68%) translateX(-24%) rotate(134deg) scale(1);
        animation: none;
        width: 100vw;
        z-index: -1;
        filter: contrast(200%) invert(100%);
        opacity: .8;

        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 570px) {
    .mobile {
        .waterPresents {
            transform: translateY(-47%) translateX(-24%) rotate(134deg) scale(1);
            width: 193vw;
        }
    }

}

// .screen2 .waterCard {
//     animation: waterCard .4s .7s forwards ease;
// }

.screen2 .waterBtm {
    animation: waterBtm .4s .3s forwards ease;
}

// @media (max-width: 570px) {
//     .screen2 .waterCard {
//         animation: waterCard2 .4s .6s forwards ease;
//         animation: none;
//     }

// }



@keyframes waterBtm {
    100% {
        transform: translateX(19%) translateY(39%) scale(1);
        ;
    }
}