.lampBtm {
    display: block;
    position: fixed;
    top: 10vh;
    left: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    z-index: -1;

    &__wrapper {
        width: 100%;
        height: 100%;
        position: relative;

        .lampImg {
            height: 100%;
            width: 150vw;
            position: absolute;
            top: 0;
            left: 0;
            width: 172vw;
            transform: rotate(0deg) translateX(-34%) translateY(-5%);
        }

    }
}

.waterLampBtmM {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    width: 150vw;
    height: auto;
    filter: contrast(200%) invert(100%);
    opacity: .6;
    // mix-blend-mode: difference;

}


@media (min-width: 1301px) {
    .lampBtm {
        display: none;
    }

    .waterLampBtmM {
        display: none;
    }

}


@media (max-width:770px) {
    .lampBtm {
        &__wrapper {
            height: 70vh;

            .lampImg {
                height: 100%;
                width: 192vw;
                transform: rotate(0deg) translateX(-39%) translateY(-5%);
            }
        }
    }


}

.waterBtmM {
    display: none;
}


@media (max-width:770px) {
    .wrapper {
        position: relative;
    }

    .waterBtmM {
        display: block;
        position: absolute;
        bottom: -11vw;
        right: 0;
        z-index: -2;
        background-color: var(--color-black);

        img {
            transform: rotate(143deg) translateX(-8%) translateY(-27%);
            mix-blend-mode: luminosity;

        }
    }

}

@media (max-width:570px) {

    .waterLampBtmM {
        transform: translateX(-60%) translateY(-12%);
        width: 170vw;

    }
}