@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  --color-black: #000;
  --footer: #191919;
  --white: #fff;
  --orange: #F46D00;

}

body {
  background-color: var(--color-black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}