.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(21.2px);
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 90vh;
    max-height: 1000px;
    width: 60vh;
    max-width: 620px;
}

.card {
    position: relative;
    background: var(--white);
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px 30px;
    padding-bottom: min(4vh, 40px);
    display: flex;
    flex-direction: column;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("images/cards/water-top.svg") no-repeat;
        background-position: top right;
        background-size: 100%;
        z-index: 1;

    }

    // padding-top: 110px;

    &__answer {
        // position: absolute;
        // top: 10px;
        // left: 30px;
        flex: 0 0 auto;
        height: 10.6vh;
        max-height: 109px;
        margin-top: min(3vh, 38px);
        margin-bottom: min(5.9vh, 61px);

        img {
            width: auto;
            height: 100%;
        }
    }


    &__arrow {
        position: relative;
        z-index: 2;
        margin-top: min(4.9vh, 51px);
        flex: 0 0 27px;
        height: 27px;

        img {
            width: auto;
            height: 100%;
        }
    }

    .info {
        position: relative;
        z-index: 2;
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 14px;
        color: var(--dark-grey);

        &__titleLogo {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }


        &__job {
            display: flex;
            flex-direction: column;
            font-family: Inter;
            font-size: 19px;
            font-weight: 500;
            line-height: 120%;

            span:nth-child(1) {
                font-weight: 600;
                color: var(--color-job);
                font-size: 22px;
            }
        }

        &__wrapperText {
            flex: 1;
            position: relative;
        }

        &__text {
            position: absolute;
            top: 0;
            left: 0;
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 123%;
            height: 100%;
            width: 100%;
            overflow-y: auto;

            p:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &__title {
            display: flex;
            gap: 9px;
            align-items: center;

        }

        &__name {
            font-family: Cormorant Infant;
            font-size: 44px;
            font-weight: 700;
        }

        &__age {
            height: 30px;
            padding: 0px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--peach);
            font-family: Inter;
            font-size: 20px;
            font-weight: 700;
            border-radius: 15px;
        }
    }
}

.doubleClick{
    .card{
        padding-top: max(88px, min(12vh, 148px));
    }
    .card__logo{
        position: absolute;
        flex: 0 0 auto;
        height: var(--logoHeight);
        top: 30px;
        left: 30px;
        img{
            width: auto;
            height: 100%;
        }
        
    }

}

.rect {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 214px;
    height: 124px;
    background: var(--rect-success);
    mask: url("images/test.png");
    -webkit-mask: url("images/test.png");
}
.rect.error{
    background: var(--rect-error);
}
.rect.answer{
    background: var(--rect-answer);
}

@media ((min-width: 1000px) and (max-height:900px)) {
    .card {
        &__answer {
            height: 7vh;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }


        .info {
            &__name {
                font-size: 32px;
            }

            &__age {
                font-size: 16px;
            }

            &__text {
                font-size: 13px;
            }

            &__job {

                font-size: 13px;

                span:nth-child(1) {
                    font-size: 16px;
                }
            }
        }
    }

}

@media (max-width:800px) {


    .wrapper {
        height: 564px;
        width: 318px;
    }

    .card {
        height: 100%;
        padding-bottom: 37px;

        &__answer {
            height: 56px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        &__arrow {
            height: 14px;
        }

        .info {
            &__name {
                font-size: 23px;
            }

            &__title {
                gap: 2px;
            }

            &__age {
                font-size: 10px;
                height: 23px;
            }

            &__text {
                font-size: 10px;
            }

            &__job {

                font-size: 10px;

                span:nth-child(1) {
                    font-size: 12px;
                }
            }

        }
    }




}