.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(21.2px);
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 69.4%;
    max-width: 1100px;
    background: var(--bg-form);
    // padding-top: 5vh;
    // padding-bottom: 5.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64.8vh;
    min-height: 550px;
    max-height: 664px;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("/images/screen4/form-water1.png"), url("/images/screen4/form-water2.png"), url("/images/screen4/form-water3.png");
        background-repeat: no-repeat;
        background-position: top left, top right, bottom right;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 85%;

    }

    &__title {
        color: var(--dark-grey);
        font-family: Cormorant Infant;
        font-size: min(44px, calc(23px + (44 - 23) * ((100vw - 390px) / (1440 - 390))));
        font-weight: 700;
        line-height: 120%;
        text-align: center;
    }

    &__text {
        color: rgb(41, 48, 55);
        font-family: Inter;
        font-size: min(20px, calc(12px + (20 - 12) * ((100vw - 390px) / (1440 - 390))));
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        width: 73%;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__label {
        width: 60%;
        min-width: 350px;

        input {
            border: 1px solid rgb(249, 221, 189);
            border-radius: 12px;
            background: rgb(255, 255, 255);
            padding: 14px 22px;
            width: 100%;

            &::placeholder {
                color: #D4D7D9;
                font-family: Inter;
                font-style: italic;
                font-size: min(20px, calc(12px + (20 - 12) * ((100vw - 390px) / (1440 - 390))));
                font-weight: 400;
                line-height: 30px;
                text-align: left;

            }
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 24px;
        width: 60%;
        min-width: 350px;
        margin-top: 10px;

        span {
            color: rgb(41, 48, 55);
            font-family: Inter;
            font-size: min(12px, calc(8px + (12 - 8) * ((100vw - 390px) / (1440 - 390))));
            font-weight: 400;
            line-height: 125%;
            text-align: left;

            a {
                color: inherit;
            }
        }
    }

    &__btn {
        font-family: Cormorant Infant;
        text-transform: capitalize;
    }
}

/* CORE STYLES */
.form__checkbox input {
    flex: 0 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    font: inherit;
    border: 1px solid var(--peach);
    margin-bottom: 0;
}

.form__checkbox input[type=checkbox] {
    border-radius: 10%
}

.form__checkbox input:checked {
    border-color: var(--peach);
    background: var(--orange) border-box;
    box-shadow: 0 0 0 3px inset #fff;
}

// .form__checkbox input:not(:checked):hover {
//     border-color: transparent;
//     background: linear-gradient(#fff, #fff) padding-box, var(--orange) border-box;
// }
@media (max-width: 650px) {
    .form {
        width: 82%;
        min-height: 400px;
        max-height: 500px;
        height: 55.8vh;

        &__text {
            width: 86%;

        }

        &__label {
            min-width: 280px;

            input {
                padding: 12px 15px;
            }
        }

        &__checkbox {
            min-width: 280px;
            gap: 14px;
        }

        &__btn {
            text-transform: uppercase;
        }

    }


}

@media (max-width:1100px) {
    .form::after {
        background: url("/images/screen4/form-water3.png");
        background-repeat: no-repeat;
        background-position: bottom -20px right;
        background-size: 70%;
    }

}